@charset "utf-8";
/* index 首页样式 */
/*网站风格背景*/
body
{
background:url(index_bg.jpg) repeat-x #fcfdfd;
}
/*背景切换*/
/*body
{
background:url(bg2.jpg) repeat-x #ba0a42;
}*/

/*头部开始*/
.head
{
width:100%;
height:265px;
background:url(index_head.png) repeat-x center top;
margin:0 auto;
overflow:hidden;
}

/*广告位*/
.index_ad
{
padding:10px 0px;
text-align:center;
}
/*网站主体  begin*/
.main
{
background:#fff;
width:974px;
margin:0 auto;
position:relative;
padding-top:25px;
}
.second_menu{position:absolute; top:0px; right:100px;}
.second_menu a{ color:#a95c00}

.m_l{ width:260px; padding-left:6px;}
.m_r{ width:678px; padding-right:10px;}

/*网站公告*/
.notice{ width:100%; background:url(notice_t.jpg) no-repeat; height:66px; border-bottom:1px solid #e1cdb3; padding-top:30px; overflow:hidden;}
.notice .lib{ padding:10px;}
#scrollDiv{overflow:hidden;height:35px;}
#scrollDiv li{height:45px;padding-left:10px;}

/*最新团次*/
.newteam{ width:100%; background:url(team_t.jpg) no-repeat; padding-top:94px; position:relative; height:132px; overflow:hidden;}
.newteam .more{ position:absolute; top:70px; right:5px; width:34px; height:12px; overflow:hidden;}
.newteam .more a{width:34px; height:12px; display:blockl; padding-left:300px;}
.newteam .lib{ padding:0px; width:253px; margin:0 auto;}
.newteam .lib li{ width:100%; background:url(team_line.jpg) no-repeat; line-height:30px; height:30px;}
.newteam .lib li a{ padding-left:15px;}

/*新浪微博*/
.webo{ width:100%; background:url(webo_t.jpg) no-repeat; padding-top:50px;}
.webo .user{ width:240px; margin:0 4px 0 17px; height:70px;}
.webo .user .textinfo{margin-left:10px; display:inline;}
.webo .user .textinfo p{padding-top:6px;}
.webo .description{width:240px; margin:0 4px 0 17px; background:url(line_up.jpg) no-repeat; padding-top:15px; line-height:22px;}
.webo .down{ background:url(line_down.jpg) no-repeat; width:240px; margin:0 4px 0 17px; height:10px; margin-top:5px;}

/*焦点图片*/
.focus2{ width:666px; background:url(focus_bg.jpg) no-repeat; height:219px; padding:6px;}

.nivoSlider {
	POSITION: relative
}
.nivoSlider IMG {
	POSITION: absolute; TOP: 0px; LEFT: 0px
}
.nivoSlider A.nivo-imageLink {
	Z-INDEX: 60; BORDER-BOTTOM: 0px; POSITION: absolute; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; DISPLAY: none; HEIGHT: 100%; BORDER-TOP: 0px; TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px; LEFT: 0px
}
.nivo-slice {
	Z-INDEX: 50; POSITION: absolute; DISPLAY: block; HEIGHT: 100%
}
.nivo-caption {
	Z-INDEX: 89; POSITION: absolute; PADDING-LEFT: 10px; WIDTH: 100%; BOTTOM: 0px; COLOR: #000; FONT-WEIGHT: bold; LEFT: 0px
}
.nivo-caption P {
	PADDING-BOTTOM: 10px; TEXT-INDENT: -9999%; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 10px
}
.nivo-directionNav A {
	Z-INDEX: 99; POSITION: absolute; TEXT-INDENT: -9999%; WIDTH: 45px; HEIGHT: 60px; TOP: 41%; CURSOR: pointer
}
.nivo-prevNav {
	BACKGROUND: url(but_left.png) no-repeat; LEFT: 20px
}
.nivo-nextNav {
	BACKGROUND: url(but_right.png) no-repeat; RIGHT: 0px
}
.nivo-controlNav {
	POSITION: absolute; BOTTOM: -20px; RIGHT: 0px
}
.nivo-controlNav A {
	Z-INDEX: 99; POSITION: relative; TEXT-INDENT: -9999%; WIDTH: 14px; DISPLAY: block; BACKGROUND: url(../images/scroll_small.png) no-repeat right top; FLOAT: left; HEIGHT: 14px; CURSOR: pointer
}
.nivo-controlNav A.active {
	MARGIN-TOP: -1px; BACKGROUND-POSITION: left top
}

/*团购热门线路*/
.group { margin-top:6px; background:url(group_t.jpg) no-repeat; padding-top:31px; overflow:hidden;}
.group_box{ border:2px solid #f8a645; height:262px; border-top:none; padding:6px 3px 6px 6px;}
.group_box .img_list{ width:520px; height:262px; border-right:1px solid #CCCCCC; overflow:hidden;}
.groupItem{width:255px; height:115px; float:left; position:relative; overflow:hidden; margin:5px 9px 20px 0px;}
.groupItem .pic{ width:122px; height:108px; background:url(pic_bg.jpg) no-repeat; padding:3px 0px 0px 3px;}
.groupItem .pic img{ width:109px; height:105px;}
.groupItem .text{ margin-left:8px; display:inline; font-family:"微软雅黑","黑体","宋体"; font-size:14px; color:#585a64; line-height:20px;}
.groupItem .text .tit a{ color:#ffa200; font-weight:bold; font-size:15px; }
.group_box .text_list{ width:140px; font-size:14px; line-height:21px; color:#848c89;}
.group_box .text_list a{ color:#848c89;}
.group_box .text_list span{font-size:12px;}
.group_box .text_list li{ border-bottom:1px dotted #CCCCCC; margin-bottom:1px;}
/*滚动告示*/
.main .info{ background:url(info_bg.jpg) no-repeat; height:26px; line-height:26px; border:#dddddd solid; border-width:1px 0px; width:900px; margin:0px 0px 0px 15px; padding-left:50px;}

/*热门线路*/
.hot_line{ background:url(hot_line_t.jpg) no-repeat; padding-top:60px; width:950px; margin:0px 0px 0px 15px; padding-left:0px;}
.line_item
{
width:292px;
height:394px;
float:left;
margin-left:22px;
margin-bottom:10px;
display:inline;
background:url(line_item_bg.gif) no-repeat;
overflow:hidden;
}
.line_item a
{
width:292px;
height:394px;
display:block;
}
.line_item a:hover
{
text-decoration:none;
}
.line_item .title
{
height:29px;
line-height:29px;
padding-left:30px;
font-size:16px;
font-family:"微软雅黑","黑体";
color:#000;
}
.line_item .pic
{
width:290px;
padding:0px 1px;
height:180px;
}
.line_item .pic img
{
width:290px;
}
.line_item .intro
{
padding:0px 8px;
line-height:21px;
color:#07899a;
}

/*帮助信息*/
.map{ background:url(map.jpg) no-repeat; padding-top:23px;  width:870px; margin:0px 0px 0px 15px; padding-left:80px; border-bottom:1px solid #c9cccb; padding-bottom:10px;}
.map dl{ width:145px; float:left; font-size:14px; font-weight:bold; letter-spacing:1px;}
.map dt{ height:40px; line-height:40px; }
.map dt a{color:#5a0000; text-decoration:none;}
.map dd{ height:24px; line-height:24px;}
.map dd a{ color:#7b3737}

.help{
width:908px;
margin:0 auto;
border:1px solid #cecece;
padding:10px 0px 68px 40px;
background:url(help_bg.gif) no-repeat left bottom;
}
.help dl{width:150px; float:left; letter-spacing:1px; margin-right:30px; display:inline;}
.help dt{height:24px; line-height:24px; font-family:"微软雅黑","黑体"; font-weight:bold; font-size:14px;}
.help dt a{color:#525252; text-decoration:none;}
.help dd{height:18px; line-height:18px; font-family:"微软雅黑","黑体";}
.help dd a{color:#747474}

.paypal
{
width:948px;
border:1px solid #d2d2d2;
background:#e2f3f4;
text-align:center;
padding:10px 0px;
height:35px;
}

.foot_menu
{
width:950px;
margin:0 auto;
height:24px;
line-height:24px;
color:#489da0;
text-align:center;
}
.foot_menu b
{
color:#000;
}
.foot_menu a
{
padding:0px 5px;
color:#489da0;
text-decoration:none;
}
.link
{
width:908px;
border:1px solid #d2d2d2;
background:#f4fafa;
padding:10px 20px;
color:#7fbfc3;
line-height:24px;
}
.link a
{
color:#7fbfc3;
padding:0px 5px;
text-decoration:none;
}
/*版权*/
.copyright1{ width:100%; text-align:center; line-height:24px; color:#489da0}
.copyright1 a{color:#489da0}
